
* {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.content{
    display: block;
    display: flex;
    width: 100vw;
    height: 92vh;
    background-color: black;    
}
.panel1{
    display: block;
    width: 10vw;
    height: 92vh;
    background-color: rgb(142, 115, 110);
    color: white;
}
.baner{
    display: block;
    width: 90vw;
    height: 92vh;
    background-color: rgb(66, 22, 42);
    text-align: center;
    color: rgb(176, 101, 101);
}
.panel2{
    display: block;
    width: 10vw;
    height: 92vh;
    background-color: rgb(230, 230, 20);
    font-size: 120%;

}
.stopka{
    display: block;
    width: 100vw;
    height: 8vh;
    background-color: rgb(142, 115, 110);
    text-align: right;
    color: white;
}

